*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  min-height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  #root
    min-height: inherit
    >div
      min-height: inherit
      display: grid
      grid-template-columns: 100%
      grid-template-rows: auto 1fr auto

img
  max-width: 100%
